body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  /*max-width: 700px;*/
  margin: 0 auto;
}

header {
  background-color: #F4712D;
  padding: 5px 5px;
}

header h1 {
  font-size: 11pt;
  display: inline;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book_entry {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}



/* FLIPPING CSS (http://davidwalsh.name/css-flip) */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  float: left;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back, .front img {
  width: 320px;
  height: 480px;
  border: 1px red dotted; /*added for clarity when styling*/
}

/* flip speed goes here */
.flipper {
  transition: 1.2s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
