<div class="container">
  <h1>Virtual Bookshelf</h1>

  <form action='/user_id' method='post'>
    <input type='text' name='user_input' value='8403316'/>
    <input type='submit' value='Submit User ID'/>
  </form>

</div>
