<div class="container">

  <header>
      <h1>Shelfworm.</h1>
      <h2>Your bookshelf's home on the Web.</h2>
  </header>

  <div class="welcome">
    <p>Sign Up / Sign In via Goodreads to view your own profile:</p>
    <a href="/sign_in_with_gr"><img src="/img/login_with_goodreads.png"></a>

    <p>Or enter a Goodreads User ID to see a public bookshelf:</p>
    <form action='/user_id' method='post'>
      <input type='text' name='user_input' placeholder='e.g. 8403316'/>
      <input class="button button-3d" type='submit' value='Submit User ID'/>
    </form>
  </div>


</div>
