<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT|Vollkorn|Abril+Fatface|Roboto+Condensed:400,700|Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>
  <!-- https://www.google.com/fonts#UsePlace:use/Collection:Old+Standard+TT|Vollkorn|Abril+Fatface|Roboto+Condensed:400,700|Open+Sans:400,700,600,800 -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/responsive.gs.12col.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Shelfworm - The Virtual Bookshelf</title>
</head>
<body>
  <% if logged_in? %>
    <%= erb :_logged_in_navbar %>
  <% end %>
  <%= yield %>
</body>
</html>
