  <h1>Welcome to User # <%= @user.gr_id %>'s Bookshelf!</h1>

  <div class="bookshelf">
    <% @first_20_book_objects.each do |book| %>
      <%= erb :_book, locals: {book: book} %>
    <% end %>
  </div>
