<h1>Welcome to Shelfworm, <%= current_user.gr_full_name %>!</h1>

<div class="welcome">
  <p>Username: <%= user.username %></p>
  <p>Goodreads ID Number: <%= user.gr_id %></p>
  <p>Shelfworm ID Number: <%= user.id %></p>
</div>