  <h1 class="typewriter-font">Welcome to <%= @user.gr_full_name %>'s Bookshelf!</h1>

  <div class="bookshelf-wrapper">
    <div class="bookshelf" data-gr-id="<%= @user.gr_id %>">
      <% @first_20_book_objects.each do |book| %>
        <%= erb :_book, locals: {book: book} %>
      <% end %>
    </div>
  </div>